div.ingredient-group:nth-child(odd) {
    float: left;
    padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
    padding-right: 0;
}

div.ingredient-group {
    width: 50%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.validationError {
    color: red;
}

form#registerForm {
    display: grid;
    grid-template-columns: fit-content(10%) minmax(5rem, 20%);
    gap: .5rem;
}