<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Taco Cloud</title>
</head>

<body>
<header th:fragment="header (title)">
    <h1 th:text="${title}">Welcome to...</h1>
    <img alt="Taco Cloud Logo" src="" th:src="@{/images/TacoCloud.png}"/>
</header>
</body>

</html>