<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Login</h1>
<img alt="Taco Cloud Logo" src="" th:src="@{/images/TacoCloud.png}"/>

<p>New here? Click
    <a th:href="@{/register}">here</a> to register.</p>

<div th:if="${param.error}">
    Unable to login. Check your username and password.
</div>

<form id="loginForm" method="POST" th:action="@{/login}">
    <label for="username">Username: </label>
    <input id="username" name="username" type="text"/><br/>
    <label for="password">Password: </label>
    <input id="password" name="password" type="password"/><br/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>