<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<header th:replace="fragments/layout :: header (title='Order your taco creations!')"></header>
<!--/*@thymesVar id="tacoOrder" type="star.tacocloud.TacoOrder"*/-->
<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
    <h3>Your tacos in this order:</h3>
    <a id="another" th:href="@{/design}">Design another taco</a><br/>
    <ul>
        <li th:each="taco : ${tacoOrder.tacos}">
            <span th:text="${taco.name}">taco name</span>
        </li>
    </ul>
    <h3>Deliver my taco masterpieces to...</h3>
    <br/>
    <h3>Here's how I'll pay...</h3>
    <label for="ccNumber">Credit Card #: </label>
    <input id="ccNumber" th:field="*{ccNumber}" type="text"/>
    <span class="validationError"
          th:errors="*{ccNumber}"
          th:if="${#fields.hasErrors('ccNumber')}">CC Num Error</span>
    <br/>
    <label for="ccExpiration">Expiration: </label>
    <input id="ccExpiration" th:field="*{ccExpiration}" type="text"/>
    <span class="validationError"
          th:errors="*{ccExpiration}"
          th:if="${#fields.hasErrors('ccExpiration')}">CC Expiration Error</span>
    <br/>
    <label for="ccCVV">CVV: </label>
    <input id="ccCVV" th:field="*{ccCVV}" type="text"/>
    <span class="validationError"
          th:errors="*{ccCVV}"
          th:if="${#fields.hasErrors('ccCVV')}">CC CVV Error</span>
    <br/>
    <input name="_csrf" th:value="${_csrf.token}" type="hidden">
    <input type="submit" value="Submit Order"/>
</form>
</body>

</html>